@charset "UTF-8";
/* Transitions in all browsers 
T ex 
@include transition(color .3s ease);
*/
/* Transform 
@include transform(scale(1.1));
*/
/* Fonts */
@font-face {
  font-family: 'bebas_neue';
  src: url("../fonts/bebas_neue/bebasneue_regular-webfont.woff2") format("woff2"), url("../fonts/bebas_neue/bebasneue_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_proregular';
  src: url("../fonts/source_sans_pro/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/source_sans_pro/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* Colors */
/* General */
html, body {
  font: 16px/24px "source_sans_proregular", Georgia;
  margin: 0 auto;
  padding: 0; }

* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "bebas_neue", Georgia;
  letter-spacing: 0.2rem; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.1rem; }

.text-center {
  text-align: center; }

/******************************************************************
/* HEADER/NAVIGATION */
/* Toppmenyn */
main {
  padding-top: 7rem;
  /* För att få ned innehåll*/ }

.top-nav {
  margin: 0 auto;
  z-index: 999; }

.top-header {
  position: fixed;
  min-width: 100%;
  background: #FFF;
  z-index: 999;
  padding: 1rem 2%; }

.logo {
  display: inline-block;
  width: 130px; }

.top-nav {
  /* Länkstyling*/
  font-family: "bebas_neue", Georgia;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  /*Checkbox som aldrig ska visas*/
  /*Menyn i toggle-versionen*/ }
  .top-nav a {
    text-decoration: none;
    color: #000; }
  .top-nav .checkbox-toggle {
    display: none; }
  .top-nav .active {
    text-decoration: underline !important;
    /*Denna visas inte i mellan/stor skärm! why??*/ }
  .top-nav ul {
    background-color: #BEE3DB;
    text-align: center;
    transition: opacity 1s ease, height 1s ease;
    visibility: hidden;
    width: 98%;
    opacity: 0;
    height: 0;
    display: block;
    list-style-type: none;
    margin: 0 auto;
    padding: 0; }
  .top-nav li {
    border-bottom: 1px solid #FFF;
    display: block;
    padding: 1em 0; }
  .top-nav .checkbox-toggle:checked ~ ul {
    opacity: 1;
    height: 380px;
    visibility: visible; }
  .top-nav .label-toggle {
    cursor: pointer;
    display: block;
    float: right;
    margin: 1.5rem 2rem 0 0; }

/* Bottommenyn */
.bottom-nav {
  display: none;
  /*ska ej visas i mobilversionen*/
  background: #BEE3DB;
  padding: 2rem 0;
  margin: 2rem 0;
  /* Länkstyling*/
  font-family: "bebas_neue", Georgia;
  font-size: 1.4rem;
  letter-spacing: 0.05rem; }
  .bottom-nav a {
    text-decoration: none;
    color: #000; }
  .bottom-nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style-type: none;
    width: 100%; }
  .bottom-nav li {
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
    .bottom-nav li:hover {
      -webkit-transition: all 0.1s ease-out;
      -moz-transition: all 0.1s ease-out;
      -ms-transition: all 0.1s ease-out;
      -o-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out;
      -webkit-transform: scaleX(1.05);
      -moz-transform: scaleX(1.05);
      -ms-transform: scaleX(1.05);
      -o-transform: scaleX(1.05);
      transform: scaleX(1.05); }

/******************************************************************/
/* BOXES */
.box-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  /* center */
  z-index: 0; }

.box {
  height: 100%;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  z-index: 0; }

/******************************************************************/
/* Index */
.hem {
  position: relative;
  margin: 0 0 0 0;
  width: 100%;
  /*	height: 610px;
  	background-image: url("../images/hem/phoneman_500px_sm.jpg");
   	background-repeat: no-repeat;
   	background-color: salmon;
   	background-size: contain; */ }

.background-img {
  display: none; }

.background-img-sm {
  width: 100%; }

.anim {
  width: 50%;
  position: absolute;
  top: 4rem;
  left: 0.6rem; }

.anim-fallback {
  background: url(../images/logo/anim_logo1.png);
  width: 32%;
  position: absolute;
  top: 1.7rem;
  left: 1rem; }

.slogan {
  height: 200px;
  width: 100%;
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
  font-family: "source_sans_proregular", Georgia;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.05rem; }

.box-indexsidan {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  width: 100%; }

.article-img {
  width: 100%;
  display: block;
  margin: auto; }

.article-text {
  font-size: 1rem;
  margin: 0.5rem 1rem 2rem 1rem; }

/************************************************************/
/*Vi erbjuder*/
.erbjuder-ruta {
  display: flex;
  padding: 1rem 1.5rem 1rem 1rem;
  min-height: 250px;
  /* för att få det att funka i mobil-safari pga bugg*/ }
  .erbjuder-ruta div {
    min-width: 30%;
    padding-right: 1rem;
    text-align: center; }

.icon-hover {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.hover:hover .icon-hover,
.hover:focus .icon-hover {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3); }

.erbjuder-text {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start; }

.green {
  background: #BEE3DB; }

.border {
  border: 1px solid black; }

/*******************************************************/
/* PROJEKT */
.project {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
  min-height: 460px;
  /* för att få det att funka i mobil-safari pga bugg*/ }

.left {
  background: #BEE3DB; }

.right {
  background: none;
  border: 1px solid black; }

.project-img {
  max-width: 100%; }

.project-text {
  margin: 0.5rem 2rem 1rem;
  text-align: center; }

.arrow-down {
  display: flex;
  margin: 0.5rem 0; }

.arrow-side {
  display: none; }

/******************************************************************/
/* OM OSS */
.about-us .box {
  position: relative; }

.about-us img {
  width: 100%; }

.tag {
  position: absolute;
  top: 1rem;
  right: 1rem; }
  .tag h2 {
    background-color: #e3bec6;
    color: black;
    margin: 0;
    padding: 0;
    padding: 8px 5px 5px 8px; }

.arrow {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  opacity: 1; }

.hover-box {
  position: absolute;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  background: #FFF;
  opacity: 0;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -ms-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
  padding: 1.5rem; }
  .hover-box:hover {
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    opacity: 0.9; }
  .hover-box p {
    margin-top: 0;
    padding-top: 0; }

.name {
  color: #000;
  font-weight: 700; }

.molly-sist {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1; }

/******************************************************************/
/* KONTAKT*/
.kontakt {
  width: 95%; }

.kontakt-form {
  /* margin: 2rem 0; Denna har justerats globalt */
  min-width: 360px; }

.kontakt-adress {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  min-width: 360px; }
  .kontakt-adress p {
    margin: 0.5rem 0; }

.karta {
  width: 100%; }

.kontakt-karta {
  min-width: 360px; }
  .kontakt-karta a {
    color: black; }
  .kontakt-karta p {
    margin-bottom: 0.5rem; }

/* KONTAKT form */
input {
  width: 100%;
  padding: 0.8em 0.5em;
  /* vad bygger em på här? använd rem ist?*/
  margin: 0.5em 0;
  border: 1px solid #ccc;
  border-radius: 0.25em; }

.skicka {
  width: 40%;
  background-color: #BEE3DB;
  color: black;
  padding: 0.4rem;
  border: none;
  border-radius: 0.25em; }

.skicka:hover {
  background-color: #6EB4A5; }

textarea {
  width: 100%;
  height: 12em;
  padding: 0.8em 0.5em;
  margin: 0.5em 0;
  border: 1px solid #ccc;
  color: grey;
  border-radius: 0.25em;
  resize: none; }

/******************************************************************/
/* FOOTER */
.contact-info {
  background: #BEE3DB;
  padding: 1rem 0;
  margin: 2rem 0 0 0; }
  .contact-info p {
    margin: 0;
    font-family: "bebas_neue", Georgia;
    font-size: 1.2rem;
    letter-spacing: 0.05rem; }

.contact-icones span {
  padding: 0.7rem; }
  .contact-icones span:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

.contact-icones p {
  font-family: "bebas_neue", Georgia;
  font-size: 1.2rem;
  margin: 0rem;
  letter-spacing: 0.05rem; }

/************************************************************/
@media screen and (min-width: 543px) {
  h1 {
    font-size: 2rem; }

  h2 {
    font-size: 1.8rem; }

  h3 {
    font-size: 1.5rem; }

  p, label, input {
    font-size: 1.1rem;
    letter-spacing: 0.03rem; } }
/* Medium devices */
@media screen and (min-width: 543px) and (max-width: 991px) {
  /******************************************************************/
  /* Navigation/Header */
  main {
    padding-top: 9rem;
    /* För att få ned innehåll*/ }

  .logo {
    width: 170px; }

  .top-nav {
    font-size: 1.4rem; }

  .main-header {
    display: none; }

  /******************************************************************/
  /* Boxes */
  .box-wrapper {
    width: 100%;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
    /* center */ }

  /******************************************************************/
  /* Index */
  .background-img-sm {
    display: none; }

  .background-img {
    display: block;
    width: 100%; }

  .slogan {
    height: 250px;
    width: 100%;
    padding: 5%;
    text-align: center;
    font-family: "source_sans_proregular", Georgia;
    font-size: 2rem;
    line-height: 3.8rem;
    letter-spacing: 0.05rem; }

  .box-indexsidan {
    width: 100%;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }

  .index-left {
    -webkit-flex-basis: 33.3%;
    -moz-flex-basis: 33.3%;
    -ms-flex-basis: 33.3%;
    flex-basis: 33.3%;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }

  .index-middle {
    -webkit-flex-basis: 33.4%;
    -moz-flex-basis: 33.4%;
    -ms-flex-basis: 33.4%;
    flex-basis: 33.4%;
    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row; }

  .index-right {
    -webkit-flex-basis: 33.3%;
    -moz-flex-basis: 33.3%;
    -ms-flex-basis: 33.3%;
    flex-basis: 33.3%;
    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row; }

  /******************************************************************/
  /* Erbjuder */
  .erbjuder {
    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row; }

  .erbjuder-ruta {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    min-width: 50%;
    min-height: 350px; }
    .erbjuder-ruta div {
      padding-right: 0;
      min-height: 75px; }

  .erbjuder-reverse {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }

  /******************************************************************/
  /* Projekt */
  /******************************************************************/
  /* Om oss */
  .about-us {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  /******************************************************************/
  /* Kontakt */
  .kontakt {
    width: 70%;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  .kontakt-form {
    width: 100%; } }
/* leave me <3 */
/* Om oss med utökad min.width */
@media screen and (min-width: 500px) and (max-width: 700px) {
  .hover-box {
    top: 4rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    padding: 2.5rem; } }
@media screen and (min-width: 730px) and (max-width: 991px) {
  .about-us {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .about-us .box {
      -webkit-flex-basis: 50%;
      -moz-flex-basis: 50%;
      -ms-flex-basis: 50%;
      flex-basis: 50%;
      /* IE bug */ } }
/* Leave me <3 */
/******************************************************************/
/* För både mellan och stor */
@media screen and (min-width: 543px) {
  .background-skew {
    background-color: #e3bec6;
    transform: skewY(155deg);
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20rem;
    z-index: -2000; }

  .background-skew-index {
    background-color: #e3bec6;
    transform: skewY(170deg);
    position: absolute;
    height: 300px;
    width: 100%;
    z-index: -2000; }

  .molly-sist {
    -webkit-box-ordinal-group: 0;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }
/******************************************************************/
/* Meny i både medium och large */
@media screen and (min-width: 643px) {
  /* Ej fixerad längst upp som på små skärmar*/
  .top-header {
    position: absolute;
    top: 0;
    left: 0; }

  .top-nav {
    /* För att få loggan och menyn att ligga horisontellt. */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    /* Göm meny-knapp*/ }
    .top-nav .active {
      color: white !important;
      text-decoration: none !important;
      background-color: #BEE3DB;
      background-color: black;
      padding: 0.2rem 0.3rem 0.2rem 0.3rem; }
    .top-nav ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between;
      width: 70%;
      visibility: visible;
      opacity: 1;
      float: right;
      margin: 0; }
    .top-nav li {
      display: inline-block;
      padding: 0;
      -webkit-transition: all 0.1s ease-in;
      -moz-transition: all 0.1s ease-in;
      -ms-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
      .top-nav li:hover {
        -webkit-transition: all 0.1s ease-out;
        -moz-transition: all 0.1s ease-out;
        -ms-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
        -webkit-transform: scaleX(1.05);
        -moz-transform: scaleX(1.05);
        -ms-transform: scaleX(1.05);
        -o-transform: scaleX(1.05);
        transform: scaleX(1.05); }
    .top-nav .label-toggle {
      display: none; }

  .bottom-nav {
    display: flex; }
    .bottom-nav ul {
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: space-around; }
    .bottom-nav .active {
      color: white !important;
      text-decoration: none !important;
      background-color: #BEE3DB;
      background-color: black;
      padding: 0.2rem 0.3rem 0.2rem 0.3rem; }

  .contact-info {
    background-color: white; } }
/* Leave me <3 */
/* Stora skärmar */
@media screen and (min-width: 992px) {
  /******************************************************************/
  /* Boxes */
  body > main {
    margin-top: 2.5rem; }

  .top-header {
    padding: 1.5rem 4% 0 4%; }

  .box-wrapper {
    width: 100%;
    padding: 0 4%;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto; }

  /******************************************************************/
  /* Navigation/Header */
  main {
    padding-top: 10.5rem;
    /* För att få ned innehåll*/ }

  .logo {
    width: 220px; }

  .top-nav {
    font-size: 2.3rem; }

  .bottom-nav {
    font-size: 2.3rem; }

  .main-header {
    display: none; }

  /******************************************************************/
  /* Index */
  .hem {
    min-height: 100px; }

  .background-img-sm {
    display: none; }

  .background-img {
    display: block;
    width: 100%; }

  .background-text {
    margin: 2rem 0 0 0;
    left: 3rem;
    font-size: 2.7rem;
    line-height: 3rem; }

  .index .box-wrapper {
    padding: 0; }

  .anim {
    width: 40%;
    top: 3rem;
    left: 2.5rem; }

  .slogan {
    height: 300px;
    width: 100%;
    padding: 5%;
    text-align: center;
    font-family: "source_sans_proregular", Georgia;
    font-size: 2.5rem;
    line-height: 5rem;
    letter-spacing: 0.05rem; }

  .box-indexsidan {
    width: 100%;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }

  .index-left {
    -webkit-flex-basis: 30%;
    -moz-flex-basis: 30%;
    -ms-flex-basis: 30%;
    flex-basis: 30%;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: 2rem; }

  .index-middle {
    -webkit-flex-basis: 30%;
    -moz-flex-basis: 30%;
    -ms-flex-basis: 30%;
    flex-basis: 30%;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }

  .index-right {
    -webkit-flex-basis: 30%;
    -moz-flex-basis: 30%;
    -ms-flex-basis: 30%;
    flex-basis: 30%;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-right: 2rem; }

  /*	.article-img{
  	border-radius: 2px;
  	}*/
  /******************************************************************/
  /* Erbjuder */
  .erbjuder {
    max-width: 1300px;
    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    /* skriver över box-wrapper flex-flow: row wrap;  ovanför, kan därför inte lägga in allt på samlad skärmstorlek*/ }

  .erbjuder-ruta {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    min-width: 50%;
    min-height: 350px;
    padding: 0 3rem; }
    .erbjuder-ruta div {
      padding-right: 0;
      min-height: 75px; }

  .project-text {
    text-align: left; }

  .erbjuder-reverse {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }

  .hover:hover div {
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6); }

  /************************************************************/
  /* Projekt */
  .project-content {
    width: 100%; }

  /*.project-text{
  	font-size: 1.2rem;
  	letter-spacing: 0.05rem;
  } Gemensam storlek på brödtext? */
  .project {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 1rem;
    min-height: auto; }

  .right {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }

  .project-img {
    width: 65%; }

  .arrow-side {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-align-self: flex-start;
    align-self: flex-start;
    margin: 0 0.5rem; }

  .arrow-down {
    display: none; }

  /***************************************************************/
  /* Om oss */
  .about-us {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .about-us .box {
      -webkit-flex-basis: 50%;
      -moz-flex-basis: 50%;
      -ms-flex-basis: 50%;
      flex-basis: 50%;
      /* IE bug */ }

  .tag {
    top: 2rem;
    right: 2rem; }

  .hover-box {
    top: 3rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    padding: 2.5rem; }

  /******************************************************************/
  /* Kontakt */
  .kontakt {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around; }

  .kontakt-form {
    /* margin-top: 2.5rem; Denna har justerats globalt*/
    width: 35%; }

  .kontakt-karta {
    /* margin-top: 2.5rem; Denna har justerats globalt */
    width: 35%; }

  /******************************************************************/
  /* Footer */
  .contact-info {
    background: none; }

  .contact-info p, .contact-icones p {
    font-size: 1.3rem; } }
/* leave me <3 */

/*# sourceMappingURL=main.css.map */
