@charset "UTF-8";
/* Transitions */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Source-Sans-Pro");
@import url("https://fonts.googleapis.com/css?family=Courgette|Pacifico");
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina");
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/bebas_neue/bebasneue-webfont.woff2") format("woff2"), url("bebasneue-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Colors */
/* General */

@font-face {
  font-family: 'source_sans_proregular';
  src: url("sourcesanspro-regular-webfont.woff2") format("woff2"), url("sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*@font-face {
    font-family: 'Pacifico';
    src: url('Pacifico-Regular-webfont.woff2') format('woff2'), 
    url('Pacifico-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: cursive;
}*/
/*Colors*/
/* ONLY FOR TESTING */
/*
header, main, footer {
	border: 3px solid #9a9a9a;
	background: #c0c0c0;
	box-sizing: border-box;
}

* div, nav, article {
	border: 1px solid red;
}
*/
/*General*/

html, body {
  font: 18px/24px "source_sans_proregular", Georgia;
  margin: 0 auto;
  padding: 0; }

body {
  max-width: 1920px;
  /*för att innehållet inte ska bli asutdraget på stora skärmar*/ }

  font: 18px/24px "Source Sans Pro", Georgia;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }


h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", Georgia;
  letter-spacing: 0.2rem; }

h1 {
  font-size: 2rem; }

.text-center {
  text-align: center; }

/******************************************************************
/* HEADER / NAVIGATION */
.logo {
  width: 250px;
  margin-right: 8rem; }

.logo-hem {
  width: 50%;
  /*	padding-left: 0.5rem;*/ }

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }

.top-header-special {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0.2rem 1rem; }

.top-nav ul, .bottom-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.top-nav {
  flex-grow: 2; }

.top-nav ul li, .bottom-nav ul li {
  text-align: center;
  flex-grow: 1; }

.bottom-nav {
  background: #BEE3DB;
  padding: 2rem 0;
  margin: 4rem 0 3rem 0;
  /*för att skapa avstånd ovan och under/nina*/ }

/* Remove margins and padding from the list, and add background color */
ul.bottom-nav-ul, ul.top-nav-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* Link style */
  /* Change color of links on hover */
  /* Side by side */ }
  ul.bottom-nav-ul li a, ul.top-nav-ul li a {
    color: #000;
    text-decoration: none; }
  ul.bottom-nav-ul li a:hover, ul.top-nav-ul li a:hover {
    color: #555; }
  ul.bottom-nav-ul li, ul.top-nav-ul li {
    display: inline; }

nav {
  font-family: "Bebas Neue", Georgia;
  font-size: 1.5rem;
  letter-spacing: 0.05rem; }

/* Hide menu-list */
ul.top-nav-ul {
  display: none; }

.ham-menu {
  position: absolute;
  top: 1rem;
  right: 1rem; }

/******************************************************************/
/* BOXES */
.box-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  /* center */

  box-sizing: border-box; }


.box {
  flex: 1 1 0;
  /* flex-grow | flex-shrink | flex-basis. Default is 0 1 auto. */
  height: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; }
  order: 1; }


/******************************************************************/
/* FOOTER */
.contact-info {
  margin: 1rem; }
  .contact-info p {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", Georgia;
    letter-spacing: 0.05rem; }

.contact-icones span {
  padding: 0.7rem; }

/*******************************************************/
/* PROJEKT */
.project {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box; }

.left {
  background: #BEE3DB;
  /*Skriver över ovan bakgrund!*/ }

.right {
  background: none;
  /*Skriver över ovan bakgrund!*/ }

.project-img {
  /*kan vi ta bort .box img ovan och istället lägga enegnskaperna på en specifik klass avsett för Om oss sidan */
  max-width: 100%;
  /*skriver över ovan bildstorlek*/ }

.project-text {
  margin: 0.5rem 2rem 1rem; }

.arrow-down {
  display: flex;
  margin: 0.5rem 0; }

.arrow-side {
  display: none; }

/******************************************************************/
/* OM OSS */
.about-us .box {
  position: relative; }

.about-us img {
  width: 100%; }

.tag {
  position: absolute;
  bottom: 3rem;
  left: 4rem; }

.arrow {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  opacity: 1; }

.hover-box {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  background: #FFF;
  opacity: 0;
  transition: all 1s ease-in;
  padding: 2rem; }
  .hover-box:hover {
    transition: all 1s ease-out;
    opacity: 0.8; }

/******************************************************************/
/* KONTAKT mayhem for y'all.. */
.box-wrapper-kontakt {
  width: 98%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  margin: auto;
  /* center */ }

.box2 {
  margin-bottom: 2rem; }

.hitta-wrapper p {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; }

.hitta-box img {
  width: 99%;
  padding: 0 0.1rem 0.5rem 0.1rem; }

.hitta-box2 p {
  padding: 0 0.1rem 0 0.1rem; }

/* KONTAKT form */
input {
  width: 100%;
  padding: 0.8em 0.5em;
  margin: 0.5em 0;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  box-sizing: border-box; }

.skicka {
  width: 40%;
  background-color: #BEE3DB;
  color: black;
  padding: 0.4rem;
  border: none;
  border-radius: 0.25em;
  font-size: 1rem;
  /*    box-shadow: 3px 3px #827191;*/ }

textarea {
  width: 100%;
  height: 12em;
  padding: 0.8em 0.5em;
  margin: 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  color: grey;
  border-radius: 0.25em;
  resize: none; }



/************************************************************/
/*Vi erbjuder*/
.erbjuder-ruta {
  border: 1px solid black;
  display: flex;
  padding: 1rem;
  box-sizing: border-box; }
  .erbjuder-ruta div {
    min-width: 25%;
    padding-right: 1rem;
    text-align: center; }

.erbjuder-text {
  align-self: flex-start; }

.green {
  background: #BEE3DB; }

/* Medium devices */
@media screen and (min-width: 543px) and (max-width: 991px) {
  .box-wrapper {
    width: 100%;
    flex-flow: row wrap;
    margin: auto;
    /* center */ }

  .about-us .box {
    min-width: calc(100% / 2); }

  .hover-box {
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem; } }
@media screen and (min-width: 992px) {


/******************************************************************/
/* INDEX mayhem for y'all.. */
.box-wrapper-index {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  /* flex-direction |  flex-wrap */
  justify-content: center;
  align-items: stretch;
  align-content: flex-start; }

.box-indexsidan {
  display: flex;
  position: relative;
  flex: 1 1 0;
  /* flex-grow | flex-shrink | flex-basis. Default is 0 1 auto. */
  /*	min-width: 100%; = om vi vill utöka till fullbredd i mobilläge*/ }

.hem {
  /* 	display: flex;*/
  position: relative;
  margin: 0 0 0 0; }

.background {
  width: 100%; }

.background-text {
  position: absolute;
  top: 2rem;
  left: 1rem;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5rem; }

.indexsidan {
  display: flex;
  flex-direction: column; }

.anim {
  width: 32%;
  position: absolute;
  top: 1.7rem;
  left: 1rem; }

.article-img {
  width: 100%; }

.article-text {
  font-size: 0.8rem;
  margin: 0.5rem 1rem 1rem; }

@media screen and (min-width: 700px) {

  ul.top-nav-ul {
    display: flex; }

  .main-header {
    display: none; }

  .ham-menu {
    opacity: 0; }

  .box-wrapper {
    width: 90%;
    flex-flow: row wrap;
    margin: auto;
    /* center */ }

  /************************************************************/
  /* PROJEKT */
  .project-text {
    font-size: 1.2rem; }


  .project {
    display: flex;
    flex-direction: row;
    padding: 1rem; }

  .right {
    flex-direction: row-reverse; }

  .project-img {
    width: 65%; }

  .project {
    display: flex;
    flex-direction: row;
    padding: 0;
    border: 0.5px solid #BEE3DB; }


  .right {
    flex-direction: row-reverse; }

  .project-img {
    width: 50%;
    max-width: 60%; }

  .arrow-side {
    display: flex;
    align-self: flex-start;
    margin: 0 0.5rem; }

  .arrow-down {
    display: none; }

  /***************************************************************/
  /* OM OSS */
  .about-us .box {
    min-width: calc(100% / 2); }

  /******************************************************************/

  .right {
    flex-direction: row-reverse; }

  .project-img {
    width: 50%;
    max-width: 60%; }

  .arrow-side {
    display: flex;
    align-self: flex-start;
    margin: 0 0.5rem; }

  .arrow-down {
    display: none; }

  /***************************************************************/
  /* OM OSS */
  /* denna stör projektsidan, sätt den istället till en specifik klass?*/
  	/* 
  	.box {
  		min-width: calc(100% / 2);
  	}
    
    
    /******************************************************************/

  /* KONTAKT */
  .box-wrapper-kontakt {
    width: 80%; }

  .box2 {
    min-width: 600px;
    max-width: 600px;
    margin-bottom: 2rem; }

  .skicka {
    width: 40%; }

  .hitta-wrapper {
    display: flex;
    flex-flow: row wrap; }

  .hitta-box {
    width: 90%;
    flex: 1; }

  .hitta-box img {
    padding: 0 0.5rem 0.5rem 0; }

  .hitta-box2 {
    width: 90%;
    flex: 1;
    padding: 0 0 0 0.5rem; }

  /******************************************************************/
  /* Erbjuder */
  .erbjuder-ruta {
    min-width: 45%; }

  .erbjuder-reverse {
    flex-direction: row-reverse; }

  .erbjuder-text {
    width: 55%; } }

  /* INDEX */
  .hem {
    /*	display:flex;*/
    position: relative;
    margin: 0 0 0 0; }

  .background-text {
    position: absolute;
    margin: 2rem 0 0 0;
    left: 3rem;
    color: white;
    font-size: 2.7rem;
    line-height: 3rem; }

  .anim {
    width: 40%;
    position: absolute;
    top: 3rem;
    left: 2.5rem; }

  .indexsidan {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5rem 0 5rem 0; }

  .article-img {
    width: 50%; }

  .article-text {
    font-size: 0.9rem;
    margin: 1rem 1rem 1rem 1rem; } }

/*# sourceMappingURL=main.css.map */
