/* Medium devices */ 
@media screen and (min-width: 543px) and (max-width: 991px) {
	.box-wrapper {
	width: 100%;
	flex-flow: row wrap; 
	margin: auto; /* center */
	}

	.about-us .box {
		min-width: calc(100% / 2);
	}

	.hover-box {
		top: 0rem;
		left: 0rem;
		right: 0rem;
		bottom: 0rem;
	}

}

@media screen and (min-width: 992px){

  
  	ul.top-nav-ul {
		display: flex;
	}

	.main-header{
		display: none;
	}

	.ham-menu{
		opacity: 0;
	}

	.box-wrapper {
	width: 90%;
	flex-flow: row wrap; 
	margin: auto; /* center */
	}


/************************************************************/
/* PROJEKT */
	.project-text{
		font-size: 1.2rem;
	}

	.project{
		display:flex;
		flex-direction: row;
		padding: 0;
		border: 0.5px solid $secondary-color;
	}

	.right{
		flex-direction: row-reverse;
	}

	.project-img{
		width: 50%;
		max-width: 60%;
	}

	.arrow-side{
		display: flex;
		align-self: flex-start;
		margin: 0 0.5rem;
	}

	.arrow-down{
		display: none;
	}
  
/***************************************************************/
/* OM OSS */

	.about-us .box {
		min-width: calc(100% / 2);
	}

  
  
  /******************************************************************/
/* KONTAKT */

	.box-wrapper-kontakt {
		width: 80%;
	    
	}
	.box2{
		min-width: 600px;
		max-width: 600px;
		margin-bottom: 2rem;
	}
	.skicka{
		width:40%;
			
	}

	.hitta-wrapper {
		display:flex;
		flex-flow: row wrap; 
	}

	.hitta-box {
		width:90%;
		flex:1;

	}
	.hitta-box img{
		padding:0 0.5rem 0.5rem 0;
	}
	.hitta-box2{
		width:90%;
		flex:1;
		padding:0 0 0 0.5rem;
	}


}


