/* Medium devices */ 
@media screen and (min-width: 543px) and (max-width: 991px) {

/******************************************************************/
/* Navigation/Header */

.logo{
	width: 180px;
}	

.top-nav{
	font-size: 2rem; /* denna verkar inte funka. ? kolla storleken i de olika lägena!*/
}

.bottom-nav{
	font-size: 1.5rem;
}

.contact-info{
	background-color: white;
}
/******************************************************************/
/* Boxes */

	.box-wrapper {
	width: 100%;
	flex-flow: row wrap; 
	margin: auto; /* center */
	}

/******************************************************************/
/* Index */

/******************************************************************/
/* Erbjuder */

/******************************************************************/
/* Projekt */

/******************************************************************/
/* Om oss */

	.about-us .box {
		min-width: calc(100% / 2);
	}

	.hover-box {
		top: 0rem;
		left: 0rem;
		right: 0rem;
		bottom: 0rem;
	}

/******************************************************************/
/* Kontakt */


} /* leave me <3 */


/* Large devices */ 
@media screen and (min-width: 992px){

/******************************************************************/
/* Navigation/Header */
 
  	ul.top-nav-ul {
		display: flex;
	}

	.main-header{
		display: none;
	}

	.ham-menu{
		opacity: 0;
	}

	.logo{
	width: 220px;
	}	

	nav {
		font-size: 3rem;
	}	

	.active{ 
	 	text-decoration: underline !important; 
	 	color: $primary-color !important;
	}

	.box-wrapper {
	width: 90%;
	flex-flow: row wrap; 
	margin: auto; /* center */
	}

	.bottom-nav{
		font-size: 3rem;
	}

	.contact-info{
	background: none;
}


/******************************************************************/
/* Index */


.background-text{
	margin:2rem 0 0 0;
	left: 3rem;
	font-size: 2.7rem;
	line-height: 3rem;
}

.anim{
	width:40%;
	top: 3rem;
	left: 2.5rem;
	}
 
.indexsidan{
	flex-direction: row;
	align-items: flex-start;
	margin: 5rem 0 5rem 0;

}
.article-img{
	width:50%;
}

.article-text{
	font-size: 0.9rem;
	margin: 1rem 1rem 1rem 1rem;

	}

 

/******************************************************************/
/* Erbjuder */

	.erbjuder{
		max-width: 1300px;
		display: flex;
	}

	.erbjuder-ruta{
		min-width: 45%;
		min-height: 250px;
	}

	.erbjuder-reverse{
		flex-direction: row-reverse;
	} 

	.erbjuder-text{
		width: 55%;
	}


/************************************************************/
/* Projekt */
	.project-text{
		font-size: 1.2rem;
	}

	.project{
		display:flex;
		flex-direction: row;
		padding: 1rem;
	}

	.right{
		flex-direction: row-reverse;
	}

	.project-img{
		width: 65%;
	}

	.arrow-side{
		display: flex;
		align-self: flex-start;
		margin: 0 0.5rem;
	}

	.arrow-down{
		display: none;
	}
  
/***************************************************************/
/* Om oss */

	.about-us .box {
		min-width: calc(100% / 2);
	}

/******************************************************************/
/* Kontakt */

	.box-wrapper-kontakt {
		width: 80%;
	    
	}
	.box2{
		min-width: 600px;
		max-width: 600px;
		margin-bottom: 2rem;
	}
	.skicka{
		width:40%;		
	}

	.hitta-wrapper {
		display:flex;
		flex-flow: row wrap; 
	}

	.hitta-box {
		width:90%;
		flex:1;
	}

	.hitta-box img{
		padding:0 0.5rem 0.5rem 0;
	}

	.hitta-box2{
		width:90%;
		flex:1;
		padding:0 0 0 0.5rem;
	}
 

}  /* leave me <3 */
















