@media screen and (min-width: 543px) {

	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.8rem;
	}
	h3 {
		font-size: 1.5rem;
	}

	p, label, input {
		font-size: 1.1rem;
		letter-spacing: 0.03rem;
	}
}

/* Medium devices */ 
@media screen and (min-width: 543px) and (max-width: 991px) {

/******************************************************************/
/* Navigation/Header */

	main {
		padding-top: 9rem; /* För att få ned innehåll*/
	}

	.logo {
  		width: 170px;
	}

	.top-nav{
		font-size: 1.4rem; 
	}

	.main-header{
		display: none;
	}


/******************************************************************/
/* Boxes */

	.box-wrapper {
		width: 100%;
		@include flex-direction(row);
		@include flex-wrap(wrap);
		margin: auto; /* center */
	}

/******************************************************************/
/* Index */

	.background-img-sm{
		display:none;
	}
	.background-img{
		display:block;
		width: 100%;
	}
	.slogan{
		height:250px;
		width: 100%;
		padding:6%;
		text-align: center;
		font-family: $paragraf-font;
		font-size: 2rem;
		line-height: 3.8rem;
		letter-spacing: 0.05rem;
	}
	.box-indexsidan{
		width: 100%;
		@include align-items(flex-start);
		@include flexbox();
		@include justify-content(space-between);
	}
	 
	.index-left{ 
		@include flex-basis(33.3%);		
		@include flex-direction(row);
	}

	.index-middle{
		@include flex-basis(33.4%);		
		@include flex-flow(row);
	}
	.index-right{
		@include flex-basis(33.3%);	
		@include flex-flow(row);
	}

/******************************************************************/
/* Erbjuder */

	.erbjuder{
		@include flex-flow(row); 
	}

	.erbjuder-ruta{
		@include flex-direction(column);
		text-align: center;
		min-width: 50%;
		min-height: 350px;
		div{
			padding-right: 0;
			min-height: 75px;
		}	
	}

	.erbjuder-reverse{
		@include flex-direction(row-reverse);
	} 

/******************************************************************/
/* Projekt */

/******************************************************************/
/* Om oss */

	.about-us {
		@include flex-direction(column);
	}


/******************************************************************/
/* Kontakt */

	.kontakt{
		width: 70%;
		@include align-items(flex-start);
		@include flex-direction(column);
	}

	.kontakt-form{
 		width: 100%;

	}
	.kontakt-karta{
	 
	}

} /* leave me <3 */


/* Om oss med utökad min.width */
@media screen and (min-width: 500px) and (max-width: 700px) {
	.hover-box {
		top: 4rem;
		left: 0rem;
		right: 0rem;
		bottom: 0rem;
		padding: 2.5rem;
	}
}
@media screen and (min-width: 730px) and (max-width: 991px) {
	.about-us {
		@include flex-direction(row);

		.box {
			@include flex-basis(50%);  /* IE bug */
		}
	}
} /* Leave me <3 */ 


/******************************************************************/
/* För både mellan och stor */
@media screen and (min-width: 543px) {

	.background-skew{
		background-color: $tertiary-color;
		transform: skewY(155deg);
		position: absolute;
		height: 100%;
		width: 100%;
/*		padding: 20rem;*/
		z-index: -2000;
	}
	.background-skew-index{
		background-color: $tertiary-color;
		transform: skewY(170deg);
		position: absolute;
		height: 280px;
		width: 100%;
		z-index: -2000;
	}

	.molly-sist {
		@include order(0);
	}
}


/******************************************************************/
/* Meny i både medium och large */
@media screen and (min-width: 643px) {
	/* Ej fixerad längst upp som på små skärmar*/
	.top-header {
		position: absolute;
		top: 0;
		left: 0;
	}

	.top-nav {
		/* För att få loggan och menyn att ligga horisontellt. */
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		.active { 
	 		color: white !important;
	 		text-decoration: none !important;
	 		background-color: $secondary-color;
	 		background-color: black;
	 		padding:0.2rem 0.3rem 0.2rem 0.3rem;
		}
  
		ul {
			@include flexbox(); 
			@include justify-content(space-between);
			width: 70%;
			visibility: visible;
			opacity: 1;
			float: right;
			margin: 0;
		}

		li  {
			display: inline-block;
			padding: 0;
			@include transition(all .1s ease-in);
			@include transform(scale(1));

			&:hover {
				@include transition(all .1s ease-out);
				@include transform(scaleX(1.05));
			}
		}

		/* Göm meny-knapp*/
		.label-toggle {
			display: none;
		}
	}

	.bottom-nav{
		display: flex;
		ul {
			@include flex-direction(row);
			@include justify-content(space-around);
		}
		.active { 
	 		color: white !important;
	 		text-decoration: none !important;
	 		background-color: $secondary-color;
	 		background-color: black;
	 		padding:0.2rem 0.3rem 0.2rem 0.3rem;
		}
	}

	.contact-info{
		background-color: white;
	}

} /* Leave me <3 */







/* Stora skärmar */ 
@media screen and (min-width: 992px){

/******************************************************************/
/* Boxes */

	body > main {
		margin-top: 2.5rem;
	}
	.top-header {
	padding: 1.5rem 4% 0 4%;
	}
	.box-wrapper {
		width: 100%;
		padding: 0 4%;
		@include flex-direction(row);
		@include flex-wrap(wrap); 
		margin: auto; 
	}

/******************************************************************/
/* Navigation/Header */
 
	main {
		padding-top: 10.5rem; /* För att få ned innehåll*/
	}

	.logo {
			width: 220px;
	}

	.top-nav {
		font-size: 2.3rem;
	}	

	.bottom-nav{
		font-size: 2.3rem;
	}

	.main-header{
		display: none;
	}

/******************************************************************/
/* Index */

	.hem{
		 min-height: 100px;
	}

	.background-img-sm{
		display:none;
	}
	.background-img{
		display:block;
		width: 100%;
	}

	.index .box-wrapper{
		padding:0;
	}

	.anim{
		width:40%;
		top: 3rem;
		left: 2.5rem;
	}

	.slogan{
		height:300px;
		width: 100%;
		padding:6%;
		text-align: center;
		font-family: $paragraf-font;
		font-size: 2.4rem;
		line-height: 5rem;
		letter-spacing: 0.05rem;
	}

	.box-indexsidan{
		width: 100%;
		@include align-items(flex-start);
		@include flexbox(); 
		@include justify-content(space-between);
	}
	 
	.index-left{ 
		@include flex-basis(30%);	
		@include flex-direction(row);
		margin-left: 2rem;
	}

	.index-middle{
		@include flex-basis(30%);	
		@include flex-direction(row); 
	}
	.index-right{
		@include flex-basis(30%);	
		@include flex-direction(row);
		margin-right: 2rem;
	}

/******************************************************************/
/* Erbjuder */

	.erbjuder{
		max-width: 1300px;
		@include flex-flow(row); /* skriver över box-wrapper flex-flow: row wrap;  ovanför, kan därför inte lägga in allt på samlad skärmstorlek*/
	}

	.erbjuder-ruta{
		@include flex-direction(column);
		text-align: center;
		min-width: 50%;
		min-height: 350px;
		padding: 0 3rem;
		div{
			padding-right: 0;
			min-height: 75px;
		}	
	}

	.project-text{
		text-align: left;
	}

	.erbjuder-reverse{
		@include flex-direction(row-reverse);
	} 

	.hover:hover div{
		@include transition(all .1s ease-out);
		@include transform(scale(1.6));
	}

/************************************************************/
/* Projekt */

	.project-content{
		width: 100% /* kanske är snyggast att ha denna i helskärm ändå? /nina*/
	}

	/*.project-text{
		font-size: 1.2rem;
		letter-spacing: 0.05rem;
	} Gemensam storlek på brödtext? */ 

	.project{
		@include flexbox(); 
		@include flex-direction(row);
		padding: 1rem;
		min-height: auto; 
	}

	.right{
		@include flex-direction(row-reverse);
	}

	.project-img{
		width: 65%;
	}

	.arrow-side{
		@include flexbox(); 
		@include align-self(flex-start);
		margin: 0 0.5rem;
	}

	.arrow-down{
		display: none;
	}
  
/***************************************************************/
/* Om oss */

.about-us {
	@include flex-direction(row);

	.box {
		@include flex-basis(50%);  /* IE bug */
	}
}

.tag {
	top: 2rem;
	right: 2rem;
}

.hover-box {
	top: 3rem;
	left: 0rem;
	right: 0rem;
	bottom: 0rem;
	padding: 2.5rem;
}

/******************************************************************/
/* Kontakt */

	.kontakt{
		width: 100%; 
		@include flexbox(); 
		@include flex-direction(row);
		@include align-items(flex-start);
		@include justify-content(space-around);
	}

	.kontakt-form{
		/* margin-top: 2.5rem; Denna har justerats globalt*/
		width: 35%;
	}

	.kontakt-karta{
		/* margin-top: 2.5rem; Denna har justerats globalt */
		width: 35%;	
	}

 
/******************************************************************/
/* Footer */
	.contact-info{
		background: none;
	}

	.contact-info, .contact-icones { 

	p {
			font-size: 1.3rem;
		}
	}

}  /* leave me <3 */
















