@media screen and (min-width: 700px){

  
  ul.top-nav-ul {
		display: flex;
	}

	.main-header{
		display: none;
	}

	.ham-menu{
		opacity: 0;
	}

	.box-wrapper {
		width: 80%;
	}


/************************************************************/
/* PROJEKT */
	.project-text{
		font-size: 1.2rem;
	}

	.project{
		display:flex;
		flex-direction: row;
		padding: 1rem;
	}

	.right{
		flex-direction: row-reverse;
	}

	.project-img{
		width: 65%;
	}

	.arrow-side{
		display: flex;
		align-self: flex-start;
		margin: 0 0.5rem;
	}

	.arrow-down{
		display: none;
	}
  
/***************************************************************/
/* OM OSS */


	
	/* denna stör projektsidan, sätt den istället till en specifik klass?*/
	/* 
	.box {
		min-width: calc(100% / 2);
	}
  
  
  /******************************************************************/
/* KONTAKT */

	.box-wrapper-kontakt {
		width: 80%;
	    
	}
	.box2{
		min-width: 600px;
		max-width: 600px;
		margin-bottom: 2rem;
	}
	.skicka{
		width:40%;		
	}

	.hitta-wrapper {
		display:flex;
		flex-flow: row wrap; 
	}

	.hitta-box {
		width:90%;
		flex:1;
	}

	.hitta-box img{
		padding:0 0.5rem 0.5rem 0;
	}

	.hitta-box2{
		width:90%;
		flex:1;
		padding:0 0 0 0.5rem;
	}
  /******************************************************************/
/* INDEX */

.hem{
/*	display:flex;*/
	position:relative;
	margin: 0 0 0 0;


}
.background-text{
	position: absolute;
	margin:2rem 0 0 0;

	left: 3rem;
	color: white;
	font-size: 2.7rem;
	line-height: 3rem;
}



.anim{
	width:40%;
	position: absolute;
	top: 3rem;
	left: 2.5rem;
	}
 
.indexsidan{
	display:flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 5rem 0 5rem 0;

}
.article-img{
	width:50%;
}

.article-text{
	font-size: 0.9rem;
	margin: 1rem 1rem 1rem 1rem;

	}

 

  /******************************************************************/
/* Erbjuder */


	.erbjuder-ruta{
		min-width: 45%;
	}

	.erbjuder-reverse{
		flex-direction: row-reverse;
	} 

	.erbjuder-text{
		width: 55%;
	}

}
















