
@import "mixins";

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Source-Sans-Pro");
@import url('https://fonts.googleapis.com/css?family=Courgette|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

@font-face {
   font-family: 'bebas_neue';
   src: url('../fonts/bebas_neue/bebasneue_regular-webfont.woff2') format('woff2'),
        url('../fonts/bebas_neue/bebasneue_regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/source_sans_pro/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/source_sans_pro/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$heading-font: "bebas_neue", Georgia;
$paragraf-font: "source_sans_proregular", Georgia;
$special-font:"Pacifico", Georgia;
$special-font2:"Courgette", Georgia;
$special-font3:"Baloo Bhaina", Georgia;

/* Colors */
$primary-color: #827191;
$secondary-color: #BEE3DB; 


/* General */
html, body {
	font: 16px/24px $paragraf-font;
	margin: 0 auto;
	padding: 0;
}

* {
	box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	letter-spacing: 0.2rem;
}

h1 {
	font-size: 2rem;
}

.text-center {
	text-align: center;
}

/******************************************************************
/* HEADER/NAVIGATION */

/* Toppmenyn */
main {
	padding-top: 7rem; /* För att få ned innehåll*/
}

.top-nav {
	margin: 0 auto; 
	z-index: 999;
}

.top-header {
  position: fixed;
  min-width: 100%;
  background: #FFF;
  z-index: 999;
  padding: 1rem 2%; 
}

.logo {
  display: inline-block;
  width: 130px;
}

.top-nav {	
	/* Länkstyling*/
	font-family: $heading-font;
	font-size: 1.5rem;
	letter-spacing: 0.05rem;
	a {
		text-decoration: none;
		color: #000;
	}

	/*Checkbox som aldrig ska visas*/
  	.checkbox-toggle {display: none;}

  	.active{ 
	 	text-decoration: underline !important; /*Denna visas inte i mellan/stor skärm! why??*/
	}
  
	/*Menyn i toggle-versionen*/
	ul {
		background-color: $secondary-color;
		text-align: center;
		transition: opacity 1s ease, height 1s ease;
		visibility: hidden;
		width: 100%;
		opacity: 0;
		height: 0;
		display: block;
		list-style-type: none;
		margin: 0;
	}

	li {
      border-bottom: 1px solid #FFF;
      display: block;
      padding: 1em 0;

    }

    .checkbox-toggle:checked ~ ul {
      opacity: 1;
      height: 380px;
      visibility: visible;
    }

    .label-toggle {
      cursor: pointer;
      display: block;
      float: right;
      margin: 1.5rem 2rem 0 0;
    }
}



/* Bottommenyn */
.bottom-nav {
	display: none; /*ska ej visas i mobilversionen*/ 
	background: $secondary-color;
	padding: 2rem 0;
	margin: 2rem 0;

	/* Länkstyling*/
	font-family: $heading-font;
	font-size: 1.4rem;
	letter-spacing: 0.05rem;
	a {
		text-decoration: none;
		color: #000;
	}

	ul {
		@include flexbox();
		display: flex;
		@include flex-direction(column);
		list-style-type: none;
		width: 100%;
	}

	li  {
		@include transition(all .1s ease-in);
		@include transform(scale(1));

		&:hover {
			@include transition(all .1s ease-out);
			@include transform(scaleX(1.05));
			}
		}
}

/******************************************************************/
/* BOXES */

.box-wrapper {
	width: 100%;
	@include flexbox();
	@include flex-direction(column); 
	margin: auto; /* center */
	box-sizing: border-box;
	z-index: 0;
}


.box { 
	height: 100%;
	@include justify-content(center);
	@include align-items(center);
	box-sizing: border-box;
	z-index: 0;

}



/******************************************************************/
/* Index */
.hem{
	position:relative;
	margin: 0 0 0 0;
	width:100%;
/*	height: 610px;
	background-image: url("../images/hem/phoneman_500px_sm.jpg");
 	background-repeat: no-repeat;
 	background-color: salmon;
 	background-size: contain; */
}

.background-img{
	display:none;	 
}
.background-img-sm{
	width:100%;
}

.anim{
	width:32%;
	position:absolute;
	top: 1.7rem;
	left: 1rem;
}

.anim-fallback{
	  background: url(../images/logo/anim_logo1_fallback.png);
/*  width: 15em;
  height: 12em;*/
	width:32%;
	position:absolute;
	top: 1.7rem;
	left: 1rem;

}
.box-indexsidan {
	display:flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	width:100%;
}

.article-img{
	width:100%;
}

.article-text{
	font-size: 0.9rem;
	margin: 0.5rem 1rem 1rem;
}
/************************************************************/
/*Vi erbjuder*/

.erbjuder-ruta{
	display: flex;
	padding: 1rem 1.5rem 1rem 1rem;
	box-sizing: border-box;
	min-height: 250px; /* för att få det att funka i mobil-safari pga bugg*/
	div{
		min-width: 30%;
		padding-right: 1rem;
		text-align: center;	
	}
}

.icon-hover{
	@include transition(all .2s ease-in);
	@include transform(scale(1));
}
	
.hover:hover .icon-hover{
	@include transition(all .1s ease-out);
	@include transform(scale(1.3));
}

.erbjuder-text{
	align-self: flex-start;
}

.green{
	background: $secondary-color;
}

.border{
	border: 1px solid black;
}

/*******************************************************/
/* PROJEKT */
.project{
	display: flex;
	flex-direction: column;
	padding: 1rem;
	box-sizing: border-box;
	min-height: 460px; /* för att få det att funka i mobil-safari pga bugg*/
}

.left{
	background: $secondary-color; 
}

.right{
	background: none; 
	border: 1px solid black;
}

.project-img { 
	max-width: 100%; 
}

.project-text{
	margin: 0.5rem 2rem 1rem;
	text-align: center;
}

.arrow-down{
	display: flex;
	margin: 0.5rem 0;
}

.arrow-side{
	display: none;
}




/******************************************************************/
/* OM OSS */

.about-us .box {
	position: relative;
	flex: 1 1 0; 
}

.about-us img {
	width: 100%;
}

.tag {
	position: absolute;
	top: 2rem;
	right: 2rem;
	h3 {
		font-size: 1.5rem;
		background-color: $primary-color;
		color: black;
		margin: 0;
		padding: 0;
		padding: 8px 5px 5px 8px;
	}
}

.arrow {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	opacity: 1;
}	

.hover-box {
	position: absolute;
	top: 0rem;
	left: 0rem;
	right: 0rem;
	bottom: 0rem;
	background: #FFF;
	opacity: 0;
	@include transition(all 1s ease-in);
	padding: 1.5rem;
	
	&:hover {
		@include transition(all 1s ease-out);
		opacity: 0.8;
	}

	p {
		margin-top: 0;
		padding-top: 0;
	}
	
}

.name {
	color: $primary-color;
	font-size: 1.3rem;
}

//Molly visas sist i mobilt läge
.molly-sist {
	order:1;
}

/******************************************************************/
/* KONTAKT*/


.kontakt {
	width: 95%;
}

.kontakt-form{
	margin: 2rem 0;
	min-width: 360px;
}

.kontakt-adress{
	display: flex;
	justify-content: space-between;
	min-width: 360px;
	p{
		margin: 0.5rem 0;
	}
}

.karta {
	width: 100%;
}

.kontakt-karta{
	min-width: 360px;
	a{
		color: black;
	}
	p{
		margin-bottom: 0.5rem;
	}	
}


/* KONTAKT form */ 

input{
	width: 100%;
    padding: 0.8em 0.5em; /* vad bygger em på här? använd rem ist?*/ 
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 0.25em;
}

.skicka {
    width: 40%;
    background-color: $secondary-color;
    color: black;
    padding: 0.4rem;
    border: none;
    border-radius: 0.25em;
    font-size: 1rem;
}

textarea {
    width: 100%;
    height: 12em;
    padding: 0.8em 0.5em;
    margin: 0.5em 0;
    border: 1px solid #ccc;
	color: grey;
    border-radius: 0.25em;
    resize: none;
}



/******************************************************************/
/* FOOTER */
.contact-info  {
	background: $secondary-color;
	padding: 1rem 0;
	margin: 2rem 0 0 0;
	p {
	margin: 0;
	font-family: $heading-font;
	font-size: 1.2rem;
	letter-spacing: 0.05rem;
	}
}

.contact-icones span {
	padding: 0.7rem;

	&:hover {
		@include transition(all .3s ease);
		@include transform(scale(1.1));
	}
}

/************************************************************/

@import "responsive";