
@import "mixins";

/* Fonts */

/*nedan import funkar inte för mig /nina*/
@import url("https://fonts.googleapis.com/css?family=Source-Sans-Pro");
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/bebas_neue/bebasneue-webfont.woff2") format("woff2"), url("bebasneue-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}
/*la in denna för att ovan import inte funkar för mig /nina*/
@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$heading-font: "Bebas Neue", Georgia;
$paragraf-font: "source_sans_proregular", Georgia;

/*Colors*/
$primary-color: #827191;
$secondary-color: #BEE3DB;
$third-color: hsl(38, 52%, 83%);


/* ONLY FOR TESTING */
/*
header, main, footer {
	border: 3px solid #9a9a9a;
	background: #c0c0c0;
	box-sizing: border-box;
}

* div, nav, article {
	border: 1px solid red;
}
*/

/*General*/
html, body {
	font: 18px/24px $paragraf-font;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	letter-spacing: 0.2rem;
}

h1 {
	font-size: 2rem;
}



.text-center {
	text-align: center;
}

/******************************************************************
/* HEADER / NAVIGATION */
.logo{
	width: 250px;
} 

.top-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.top-nav ul, .bottom-nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}

.top-nav {	
	flex-grow: 2;
}

.top-nav ul li, .bottom-nav ul li {
    text-align: center;
    flex-grow: 1;
}

.bottom-nav {
	background: $secondary-color;
	padding: 2rem 0;
	margin: 4rem 0 3rem 0; /*för att skapa avstånd ovan och under/nina*/
}


/* Remove margins and padding from the list, and add background color */
ul.bottom-nav-ul, ul.top-nav-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

	/* Link style */
	li a {color: #000; text-decoration: none;}
	/* Change color of links on hover */
    li a:hover {color: #555;} 

    /* Side by side */
	li { display: inline;}   
}

nav {
	font-family: $heading-font;
	font-size: 1.5rem;
	letter-spacing: 0.05rem;
}


/* Hide menu-list */
ul.top-nav-ul {
	display: none;
}


.ham-menu {
	position: absolute;
	top: 1rem;
	right: 1rem;
}



/******************************************************************/
/* BOXES */

.box-wrapper {
	width: 100%;
	display: flex;
	flex-flow: row wrap;  /* flex-direction |  flex-wrap */ 
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;
	margin: auto; /* center */
}


.box {
	flex: 1 1 0;   /* flex-grow | flex-shrink | flex-basis. Default is 0 1 auto. */
	min-width: 100%;
	min-height: 200px;
	background: $primary-color;
	justify-content: center;
	align-items: center;
	order: 1;
}

/* Denna stör projektsidans bilder*/
/*
.box img {
	max-width: 100%;
	max-height: 275px;
	overflow: hidden; 
}
*/

/******************************************************************/
/* OM OSS */
.person {
	position: relative;
}
.tag {
	position: absolute;
	bottom: 2rem;
	left: 2rem;

}

.arrow {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
}	
/******************************************************************/
/* FOOTER */
.contact-info  {
	margin: 1rem;
	
	p {
	margin: 0;
	padding: 0;
	font-family: $heading-font;
	letter-spacing: 0.05rem;
	}
}

.contact-icones span {
	padding: 0.7rem;
}

/*******************************************************/
/*css specifikt för projektsidan*/
.project{
	display: flex;
	flex-direction: column;
	padding: 1rem;
	box-sizing: border-box;
}

.left{
	background: $secondary-color; /*Skriver över ovan bakgrund!*/
}

.right{
	background: none; /*Skriver över ovan bakgrund!*/
}

.project-img { /*kan vi ta bort .box img ovan och istället lägga enegnskaperna på en specifik klass avsett för Om oss sidan */
	max-width: 100%; /*skriver över ovan bildstorlek*/
}

.project-text{
	margin: 0.5rem 2rem 1rem;
}

.arrow-down{
	display: flex;
	margin: 0.5rem 0;
}

.arrow-side{
	display: none;
}


/********************************************************/

@import "responsive";