
@import "mixins";

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Source-Sans-Pro");
@import url('https://fonts.googleapis.com/css?family=Courgette|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/bebas_neue/bebasneue-webfont.woff2") format("woff2"), 
  url("bebasneue-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}

$heading-font: "Bebas Neue", Georgia;
$paragraf-font: "Source Sans Pro", Georgia;
$special-font:"Pacifico", Georgia;
$special-font2:"Courgette", Georgia;
$special-font3:"Baloo Bhaina", Georgia;

/* Colors */
$secondary-color: #BEE3DB; 


/* General */
html, body {
	font: 16px/24px $paragraf-font;
	margin: 0 auto;
	padding: 0;
}

* {
	box-sizing: border-box;
	border: 1px solid red;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	letter-spacing: 0.2rem;
}

h1 {
	font-size: 2rem;
}

.text-center {
	text-align: center;
}

/******************************************************************
/* HEADER/NAVIGATION */
.logo{
	width: 30%;
	margin-right: 8rem;
} 


.top-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1rem 0.2rem 1rem;
}

.top-nav ul, .bottom-nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}

.top-nav ul li, .bottom-nav ul li {
    text-align: center;
    flex-grow: 1;
}


.top-nav {	
	flex-grow: 2;
}

.bottom-nav {
	background: $secondary-color;
	padding: 2rem 0;
	margin: 4rem 0 3rem 0; 
}


/* Remove margins and padding from the list, and add background color */
ul.bottom-nav-ul, ul.top-nav-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

	/* Link style */
	li a {color: #000; text-decoration: none;}
	/* Change color of links on hover */
    li a:hover {color: #555;} 

    /* Side by side */
	li { display: inline;}   
}

nav {
	font-family: $heading-font;
	font-size: 1.5rem;
	letter-spacing: 0.05rem;

	li {
		@include transition(all .1s ease-in);
		@include transform(scale(1));

		&:hover {
			@include transition(all .1s ease-out);
			@include transform(scaleX(1.05));
		}
	}
}


/* Hide menu-list */
ul.top-nav-ul {
	display: none;
}


.ham-menu {
	position: absolute;
	top: 1rem;
	right: 1rem;
}





/******************************************************************/
/* BOXES */

.box-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column; 
	margin: auto; /* center */
	box-sizing: border-box;

}


.box {
	flex: 1 1 0;  
	height: 100%;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;

}



/******************************************************************/
/* INDEX mayhem for y'all.. */

.box-wrapper-index {
	width: 100%;
	display: flex;
	flex-flow: row wrap;  /* flex-direction |  flex-wrap */ 
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;
}

.box-indexsidan {
	display:flex;
	position: relative;
	flex: 1 1 0;   /* flex-grow | flex-shrink | flex-basis. Default is 0 1 auto. */
/*	min-width: 100%; = om vi vill utöka till fullbredd i mobilläge*/ 
}

.hem{
	position:relative;
	margin: 0 0 0 0;
	width: 100%;
}

.background{
	width: 100%;
		 
}

.background-text{
	position: absolute;
	top: 2rem;
	left: 1rem;
	color: white;
	font-size: 1.5rem;
	line-height: 1.5rem;

}

.indexsidan{
	display:flex;
	flex-direction: column;
}
.anim{
	width:32%;
	position:absolute;
	top: 1.7rem;
	left: 1rem;
	}

.article-img{
	width:100%;
}

.article-text{
	font-size: 0.8rem;
	margin: 0.5rem 1rem 1rem;
}

/************************************************************/
/*Vi erbjuder*/

.erbjuder-ruta{
	border: 1px solid black;
	display: flex;
	padding: 1rem;
	box-sizing: border-box;
	div{
		min-width: 25%;
		padding-right: 1rem;
		text-align: center;
	}
}

.erbjuder-text{
	align-self: flex-start;
}

.green{
	background: $secondary-color;
}

/*******************************************************/
/* PROJEKT */
.project{
	display: flex;
	flex-direction: column;
	padding: 1rem;
	box-sizing: border-box;
}

.left{
	background: $secondary-color; 
}

.right{
	background: none; 
}

.project-img { 
	max-width: 100%; 
}

.project-text{
	margin: 0.5rem 2rem 1rem;
}

.arrow-down{
	display: flex;
	margin: 0.5rem 0;
}

.arrow-side{
	display: none;
}




/******************************************************************/
/* OM OSS */

.about-us .box {
	position: relative;
}

.about-us img {
	width: 100%;
}

.tag {
	position: absolute;
	bottom: 3rem;
	left: 4rem;
}

.arrow {
	position: absolute;
	bottom: 4rem;
	right: 4rem;
	opacity: 1;
}	

.hover-box {
	position: absolute;
	top: 2rem;
	left: 2rem;
	right: 2rem;
	bottom: 2rem;
	background: #FFF;
	opacity: 0;
	@include transition(all 1s ease-in);
	padding: 2rem;
	
	&:hover {
		@include transition(all 1s ease-out);
		opacity: 0.8;
	}
	
}


/******************************************************************/
/* KONTAKT mayhem for y'all.. */

.box-wrapper-kontakt {
	width: 98%;
	display: flex;
		flex-flow: row wrap; 
	justify-content: center;
	align-content: flex-start;
	margin: auto; /* center */
}

.box2 {
		margin-bottom: 2rem;
}

.hitta-wrapper p{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin:0 auto;
}

.hitta-box img{
	width:99%;
	padding:0 0.1rem 0.5rem 0.1rem;
}

.hitta-box2 p{
	padding:0 0.1rem 0 0.1rem;
}

/* KONTAKT form */ 

input{
	width: 100%;
    padding: 0.8em 0.5em;
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    box-sizing: border-box;
}

.skicka {
    width: 40%;
    background-color: $secondary-color;
    color: black;
    padding: 0.4rem;
    border: none;
    border-radius: 0.25em;
    font-size: 1rem;
}

textarea {
    width: 100%;
    height: 12em;
    padding: 0.8em 0.5em;
    margin: 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
	color: grey;
    border-radius: 0.25em;
    resize: none;
}




/******************************************************************/
/* FOOTER */
.contact-info  {
	margin: 1rem;
	
	p {
	margin: 0;
	padding: 0;
	font-family: $heading-font;
	letter-spacing: 0.05rem;
	}
}

.contact-icones span {
	padding: 0.7rem;

	&:hover {
		@include transition(all .3s ease);
		@include transform(scale(1.1));
	}
}

/************************************************************/

@import "responsive";