<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Vanilla - Vi erbjuder</title>

	<!-- ICONS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">

</head>
<body>
	
	<header class="top-header">
	  <nav class="top-nav">
	    <div class="logo"><a href="../index.html"><img src="../images/logo/vanilla-logo.svg" class="logo"></a></div>
	    <input type="checkbox" id="checkbox-toggle" class="checkbox-toggle">
	      <label for="checkbox-toggle" class="label-toggle">Meny<span class="fa fa-caret-down fa-1x" aria-hidden="true"></span></label>
	    </input>
	    <ul>
			<a href="../index.html"><li>Hem</li></a>
			<a href="erbjuder.html" class="active"><li>Vi erbjuder</li></a>
			<a href="projekt.html"><li>Projekt</li></a>
			<a href="om-oss.html"><li>Om oss</li></a>
			<a href="kontakt.html"><li>Kontakt</li></a>
	    </ul>
	  </nav>
	</header>

	<main>
		<header class="main-header">
			<h1 class="text-center">Vi erbjuder</h1> <!--synlig i mobil bara -->
		</header>
		<section class="box-wrapper erbjuder">
			<article class="box erbjuder-ruta green hover">
				<div>
					<span class="fa fa-heart-o fa-4x" aria-hidden="true"></span>
				</div>	
				<section class="erbjuder-text">
					<h3>Tillgänglighet</h3>
					<p>Vi lyfter fram ert innehåll och gör det tillgängligt för alla målgrupper. Vi följer WCAG 2.0 standard för att försäkra oss om att såväl bilder, texter som annat innehåll kan ses och användas av så många användare som möjligt.</p>
				</section>
			</article>
			<article class="box erbjuder-ruta border hover">
				<div>
					<span class="fa fa-laptop fa-3x" aria-hidden="true"></span>
					<span class="fa fa-mobile fa-3x" aria-hidden="true"></span>
				</div>
				<section class="erbjuder-text">
					<h3>Responsiv design</h3>
					<p>Vi bygger responsiva webbplatser som anpassar sig för den typ av enhet som besökaren använder. Webbplatsen anpassas både mobiler, surfplattor och datorer samt maximerar upplevelsen oavsett skärmteknik.</p>
				</section>
			</article>
		</section>	
		<section class="box-wrapper erbjuder erbjuder-reverse">
			<article class="box erbjuder-ruta green hover">
				<div>
					<span class="fa fa-cogs fa-4x" aria-hidden="true"></span>
				</div>
				<section class="erbjuder-text">
					<h3>Experter på UX</h3>
					<p>Vi sätter besökarens upplevelse i fokus. Genom användartester och undersökningar vet vi besökaren behov och önskemål. Vi designar användarvänliga och ändamålsenliga webbplatser! </p>
				</section>
			</article>
			<article class="box erbjuder-ruta border hover">
				<div>
					<span class="fa fa-mobile fa-5x" aria-hidden="true"></span>
				</div>
				<section class="erbjuder-text">
					<h3>Mobile first</h3>
					<p>Vi jobbar efter mobile first för att användaren ska få en så bra upplevelse som möjligt även på små skärmar. Då många i dag gör sina ärenden på internet under just på sin mobil.</p>
				</section>
			</article>
		</section>
	</main>

	<footer>
		<nav class="bottom-nav text-center">
			<ul>
				<a href="../index.html"><li>Hem</li></a>
				<a href="erbjuder.html" class="active"><li>Vi erbjuder</li></a>
				<a href="projekt.html"><li>Projekt</li></a>
				<a href="om-oss.html"><li>Om oss</li></a>
				<a href="kontakt.html"><li>Kontakt</li></a>
			</ul>
		</nav>
		<section class="contact-info text-center">
			<p>Vanilla Webdesign</p>
			<p>Skånegatan, Stockholm</p>
			<p>tel: 070 000 000</p>
			<p>info@vanillaweb.se</p>
		</section>
		<section class="contact-icones text-center">
			<span class="fa fa-facebook-official fa-2x" aria-hidden="true"></span>
			<span class="fa fa-instagram fa-2x" aria-hidden="true"></span>
			<span class="fa fa-twitter-square fa-2x" aria-hidden="true"></span>
		</section>
	</footer>

</body>
</html>