<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Kontakt</title>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">

	<!-- ICONS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	
	<header class="top-header">
		<div class="logo">
			<a href="../index.html"><img src="../images/vanilla-logo.png" class="logo"></a>
		</div>
		<nav class="top-nav">
			<div class="ham-menu">Meny
			<span class="fa fa-caret-down fa-1x" aria-hidden="true"></span>
			</div>
			<ul class="top-nav-ul">
				<li><a href="../index.html">Hem</a></li>
				<li><a href="vi-erbjuder.html">Vi erbjuder</a></li>
				<li><a href="projekt.html">Projekt</a></li>
				<li><a href="om-oss.html">Om oss</a></li>
				<li><a href="kontakt.html">Kontakt</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<header class="main-header">
			<h1 class="text-center">Kontakt</h1>
		</header>
		<section class="box-wrapper-kontakt">
			<article class="box2">
				<h1>hör av er till oss!</h1>
 					<form>
						<label for="namn"> Fyll i ditt namn:</label>
						<br>
						<input type="text" name="namn">

						<label for="epost">E-postadress:</label>
						<br>
						<input type="email" name="email" required="required">

						<br>
						<br>

						<label for="vadkanvi">Vad kan vi stå till tjänst med?</label>
						<br>

						<textarea name="textarea" placeholder="Kära Vanilla Web Design..."></textarea>
						<input type="submit" class="skicka" value="Skicka!"> 
					</form>

				<h1>Hitta hit</h1><br>
			<article class="hitta-wrapper">
				<div class="hitta-box">
	 				<img src="../images/karta2.jpg" alt="karta"> 
				</div>
				<div class="hitta-box2">
					<p>Vanilla Webdesign<br>
					Skånegatan, Stockholm<br>
					
					<br>
					Tunnelbana: Medborgarplatsen<br>
					Buss: 66, 3, 53, 76<br>
					Bil: Från Nytorgsgatan sväng höger in mot Skånegatan
					</p>
				</div>	 
			</article>
		</section>
	</main>

	<footer>
		<nav class="bottom-nav">
			<ul class="bottom-nav-ul">
				<li><a href="../index.html">Hem</a></li>
				<li><a href="vi-erbjuder.html">Vi erbjuder</a></li>
				<li><a href="projekt.html">Projekt</a></li>
				<li><a href="om-oss.html">Om oss</a></li>
				<li><a href="kontakt.html">Kontakt</a></li>
			</ul>
		</nav>
		<section class="contact-info text-center">
			<p>Vanilla Webdesign</p>
			<p>Skånegatan, Stockholm</p>
			<p>tel: 070 000 000</p>
			<p>info@vanillaweb.se</p>
		</section>
		<section class="contact-icones text-center">
			<span class="fa fa-facebook-official fa-2x" aria-hidden="true"></span>
			<span class="fa fa-instagram fa-2x" aria-hidden="true"></span>
			<span class="fa fa-twitter-square fa-2x" aria-hidden="true"></span>
		</section>
	</footer>

<script src="../js/main.js"></script>
</body>
</html>