<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Vanilla - Kontakt</title>

	<!-- ICONS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
	<header class="top-header">
	  <nav class="top-nav">
	    <div class="logo"><a href="../index.html"><img src="../images/logo/vanilla-logo.svg" class="logo" alt="Logga"></a></div>
	    <input type="checkbox" id="checkbox-toggle" class="checkbox-toggle">
	      <label for="checkbox-toggle" class="label-toggle">Meny<span class="fa fa-caret-down fa-1x" aria-hidden="true"></span></label>

	    <ul>
			<li><a href="../index.html">Hem</a></li>
			<li><a href="erbjuder.html">Vi erbjuder</a></li>
			<li><a href="projekt.html">Projekt</a></li>
			<li><a href="om-oss.html">Om oss</a></li>
			<li><a href="kontakt.html" class="active">Kontakt</a></li>
	    </ul>
	  </nav>
	</header>

	<main>
		<header class="main-header">
			<h1 class="text-center">Kontakt</h1><!--synlig i mobil bara -->
		</header>
		<section class="background-skew"></section>
		<section class="box-wrapper kontakt">
			<article class="kontakt-form">
				<h2>hör av er till oss!</h2>
				<label for="namn"> Fyll i ditt namn:</label>
				<br>
				<input type="text" name="namn" id="namn">
				<label for="epost">E-postadress:</label>
				<br>
				<input type="email" name="email" required="required" id="epost">
				<br>
				<br>
				<label for="meddelande">Vad kan vi stå till tjänst med?</label>
				<br>
				<textarea name="textarea" placeholder="Kära Vanilla Web Design..." id="meddelande"></textarea>
				<input type="submit" class="skicka" value="Skicka!"> 
			</article>
			<article class="kontakt-karta">
				<h2 class="hitta-hit">Hitta hit:</h2>
				<p>Skånegatan 90, Stockholm</p>

 		
 				<img src="../images/kontakt/gatubild_vanilla.jpg" alt="Karta" class="gatubild">
 				<section class="kontakt-adress">
						<p><b>Tunnelbana:</b> Medborgarplatsen<br>
						<b>Buss:</b> 66, 3, 53, 76<br>
						<b>Vägbeskrivning:</b> <a href="https://www.google.se/maps/dir/''/Sk%C3%A5negatan+90,+Stockholm/@59.3124784,18.0774653,16z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x465f77f77e4d1e1d:0x307eff513191ebc0!2m2!1d18.0818427!2d59.3124785" target="_blank"> Klicka här</a>
					</p>
				</section>
			</article>	 
		</section> 
	</main>

	<footer>
		<nav class="bottom-nav text-center">
			<ul>
			<li><a href="../index.html">Hem</a></li>
			<li><a href="erbjuder.html">Vi erbjuder</a></li>
			<li><a href="projekt.html">Projekt</a></li>
			<li><a href="om-oss.html">Om oss</a></li>
			<li><a href="kontakt.html" class="active">Kontakt</a></li>
			</ul>
		</nav>
		<section class="contact-info text-center">
			<p>Vanilla Web Design</p>
			<p>Skånegatan 90, 116 37 Stockholm</p>
			<p>tel: 070 000 000</p>
			<p>info@vanillaweb.se</p>

		</section>
		<section class="contact-icones text-center">
			<span class="fa fa-facebook-official fa-2x" aria-hidden="true"></span>
			<span class="fa fa-instagram fa-2x" aria-hidden="true"></span>
			<span class="fa fa-twitter-square fa-2x" aria-hidden="true"></span>
			<p>Följ oss på sociala medier!</p>
		</section>
	</footer>
</body>
</html>