<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Kontakt</title>

	<!-- ICONS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">

</head>
<body>
	
	<header class="top-header">
	  <nav class="top-nav">
	    <div class="logo"><a href="../index.html"><img src="../images/logo/vanilla-logo.svg" class="logo"></a></div>
	    <input type="checkbox" id="checkbox-toggle" class="checkbox-toggle">
	      <label for="checkbox-toggle" class="label-toggle">Meny<span class="fa fa-caret-down fa-1x" aria-hidden="true"></span></label>
	    </input>
	    <ul>
			<a href="../index.html"><li>Hem</li></a>
			<a href="erbjuder.html"><li>Vi erbjuder</li></a>
			<a href="projekt.html"><li>Projekt</li></a>
			<a href="om-oss.html"><li>Om oss</li></a>
			<a href="kontakt.html" class="active"><li>Kontakt</li></a>
	    </ul>
	  </nav>
	</header>

	<main>
		<header class="main-header">
			<h1 class="text-center">Kontakt</h1>
		</header>
		<section class="box-wrapper-kontakt">
			<article class="box2">
				<h1>hör av er till oss!</h1>
 					<form>
						<label for="namn"> Fyll i ditt namn:</label>
						<br>
						<input type="text" name="namn">

						<label for="epost">E-postadress:</label>
						<br>
						<input type="email" name="email" required="required">

						<br>
						<br>

						<label for="vadkanvi">Vad kan vi stå till tjänst med?</label>
						<br>

						<textarea name="textarea" placeholder="Kära Vanilla Web Design..."></textarea>
						<input type="submit" class="skicka" value="Skicka!"> 
					</form>

				<h1>Hitta hit</h1><br>
			<article class="hitta-wrapper">
				<div class="hitta-box">
	 				<img src="../images/kontakt/karta2.jpg" alt="karta"> 
				</div>
				<div class="hitta-box2">
					<p>Vanilla Webdesign<br>
					Skånegatan, Stockholm<br>
					
					<br>
					Tunnelbana: Medborgarplatsen<br>
					Buss: 66, 3, 53, 76<br>
					Bil: Från Nytorgsgatan sväng höger in mot Skånegatan
					</p>
				</div>	 
			</article>
		</section>
	</main>

	<footer>
		<nav class="bottom-nav text-center">
			<ul>
				<a href="../index.html"><li>Hem</li></a>
				<a href="erbjuder.html"><li>Vi erbjuder</li></a>
				<a href="projekt.html"><li>Projekt</li></a>
				<a href="om-oss.html"><li>Om oss</li></a>
				<a href="kontakt.html"><li>Kontakt</li></a>
			</ul>
		</nav>
		<section class="contact-info text-center">
			<p>Vanilla Webdesign</p>
			<p>Skånegatan, Stockholm</p>
			<p>tel: 070 000 000</p>
			<p>info@vanillaweb.se</p>
		</section>
		<section class="contact-icones text-center">
			<span class="fa fa-facebook-official fa-2x" aria-hidden="true"></span>
			<span class="fa fa-instagram fa-2x" aria-hidden="true"></span>
			<span class="fa fa-twitter-square fa-2x" aria-hidden="true"></span>
		</section>
	</footer>

<script src="../js/main.js"></script>
</body>
</html>