<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Vanilla - Om oss</title>

	<!-- ICONS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	
	<header class="top-header">
	  <nav class="top-nav">
	    <div class="logo"><a href="../index.html"><img src="../images/logo/vanilla-logo.svg" class="logo" alt="Logga"></a></div>
	    <input type="checkbox" id="checkbox-toggle" class="checkbox-toggle">
	      <label for="checkbox-toggle" class="label-toggle">Meny<span class="fa fa-caret-down fa-1x" aria-hidden="true"></span></label>

	    <ul>
			<li><a href="../index.html">Hem</a></li>
			<li><a href="erbjuder.html">Vi erbjuder</a></li>
			<li><a href="projekt.html">Projekt</a></li>
			<li><a href="om-oss.html" class="active">Om oss</a></li>
			<li><a href="kontakt.html">Kontakt</a></li>
	    </ul>
	  </nav>
	</header>

	<main>
		<header class="main-header">
			<h1 class="text-center">Om oss</h1><!--synlig i mobil bara -->
		</header>
		<section class="box-wrapper about-us">
			<article class="box">
				<picture>
    				<source srcset="../images/om-oss/cilla1x.jpg" media="(max-width: 570px)">
    				<source srcset="../images/om-oss/cilla2x.jpg">
    				<img src="../images/om-oss/cilla2x.jpg" alt="Cilla">
				</picture>
				<div class="hover-box" onclick=""><p><b class="name">Utvecklare</b><br></p><p>Cilla är vår javascript- och UX-expert. Hon är kreativ och brinner för tillgänglighet. Hon har koll på hur användaren tänker och gör det lätt att navigera på din webbplats.</p> </div>
				<div class="tag">
					<h2>Cilla<span class="fa fa-angle-double-down fa-1x" aria-hidden="true"></span></h2>
				</div>
			</article>
			<article class="box">
				<picture>
    				<source srcset="../images/om-oss/camilla1x.jpg" media="(max-width: 570px)">
    				<source srcset="../images/om-oss/camilla2x.jpg">
    				<img src="../images/om-oss/camilla2x.jpg" alt="Camilla">
				</picture>
				<div class="hover-box" onclick=""><p><b class="name">Utvecklare</b><br></p><p>Camilla är vår javascript- och CSS-expert. Hon har koll på webbstandarder och gör din webbplats responsiv, tillgänglig och lättuppdaterad. Fritiden spenderar hon gärna i yogasalen eller på resande fot.</p> </div>
				<div class="tag">
					<h2>Camilla<span class="fa fa-angle-double-down fa-1x" aria-hidden="true"></span></h2>
				</div>
			</article>
		</section>
		<section class="box-wrapper about-us">
			<article class="box molly-sist">
				<picture>
    				<source srcset="../images/om-oss/molly1x.jpg" media="(max-width: 570px)">
    				<source srcset="../images/om-oss/molly2x.jpg">
    				<img src="../images/om-oss/molly2x.jpg" alt="Molly">
				</picture>
				<div class="hover-box" onclick=""><p><b class="name">VD</b><br></p><p>Molly är vår glädjespridare och har sista ordet i alla frågor. Hon är en riktig människokännare och gör allt för att stämningen ska vara på topp!</p></div>
				<div class="tag">
					<h2>Molly<span class="fa fa-angle-double-down fa-1x" aria-hidden="true"></span></h2>
				</div>
			</article>
			<article class="box ">
				<picture>
    				<source srcset="../images/om-oss/nina1x.jpg" media="(max-width: 570px)">
    				<source srcset="../images/om-oss/nina2x.jpg">
    				<img src="../images/om-oss/nina2x.jpg" alt="Nina">
				</picture>
				<div class="hover-box" onclick=""><p><b class="name">Utvecklare</b><br></p><p>Nina är vår javascript- och designexpert. Hon är med från start till lansering av din webbplats och har ett öga för helheten. När Nina inte programmerar skapar hon smycken eller klättrar i klätterhallen.</p> </div>
				<div class="tag">
					<h2>Nina<span class="fa fa-angle-double-down fa-1x" aria-hidden="true"></span></h2>
				</div>
			</article>
		</section>
	</main>

	<footer>
		<nav class="bottom-nav text-center">
			<ul>
				<li><a href="../index.html">Hem</a></li>
				<li><a href="erbjuder.html">Vi erbjuder</a></li>
				<li><a href="projekt.html">Projekt</a></li>
				<li><a href="om-oss.html" class="active">Om oss</a></li>
				<li><a href="kontakt.html">Kontakt</a></li>
			</ul>
		</nav>
		<section class="contact-info text-center">
			<p>Vanilla Web Design</p>
			<p>Skånegatan 90, 116 37 Stockholm</p>
			<p>tel: 070 000 000</p>
			<p>info@vanillaweb.se</p>
		</section>
		<section class="contact-icones text-center">
			<span class="fa fa-facebook-official fa-2x" aria-hidden="true"></span>
			<span class="fa fa-instagram fa-2x" aria-hidden="true"></span>
			<span class="fa fa-twitter-square fa-2x" aria-hidden="true"></span>
			<p>Följ oss på sociala medier!</p>
		</section>
	</footer>



</body>
</html>