<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Om oss</title>

	<!-- ICONS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">

</head>
<body>
	
	<header class="top-header">
	  <nav class="top-nav">
	    <div class="logo"><a href="../index.html"><img src="../images/logo/vanilla-logo.svg" class="logo"></a></div>
	    <input type="checkbox" id="checkbox-toggle" class="checkbox-toggle">
	      <label for="checkbox-toggle" class="label-toggle">Meny<span class="fa fa-caret-down fa-1x" aria-hidden="true"></span></label>
	    </input>
	    <ul>
			<a href="../index.html"><li>Hem</li></a>
			<a href="erbjuder.html"><li>Vi erbjuder</li></a>
			<a href="projekt.html"><li>Projekt</li></a>
			<a href="om-oss.html" class="active"><li>Om oss</li></a>
			<a href="kontakt.html"><li>Kontakt</li></a>
	    </ul>
	  </nav>
	</header>

	<main>
		<header class="main-header">
			<h1 class="text-center">Om oss</h1>
		</header>
		<section class="box-wrapper about-us">
			<article class="box">
				<img src="../images/om-oss/nina.jpg" alt="Nina">
				<div class="hover-box">Nina är expert på allt.</div>
				<div class="tag">
					<h3>Nina</h3>
					<p>Utvecklare</p>
				</div>
				<span class="fa fa-angle-double-right fa-2x arrow" aria-hidden="true"></span>
			</article>
			<article class="box">
				<img src="../images/om-oss/nina.jpg" alt="Cilla">
				<div class="hover-box">Cilla är expert på allt.</div>
				<div class="tag">
					<h3>Cilla</h3>
					<p>Utvecklare</p>
				</div>
				<span class="fa fa-angle-double-right fa-2x arrow" aria-hidden="true"></span>
			</article>
			<article class="box">
				<img src="../images/om-oss/camilla.jpg" alt="Camilla">
				<div class="hover-box">Camilla är vår javascript- och CSS-expert. Hon älskar hundar och skulle gärna ha flera stycken. Fritiden spenderar hon gärna i yogasalen eller på resande fot. </div>
				<div class="tag">
					<h3>Camilla</h3>
					<p>Utvecklare</p>
				</div>
				<span class="fa fa-angle-double-right fa-2x arrow" aria-hidden="true"></span>
			</article>
			<article class="box">
				<img src="../images/om-oss/molly.jpg" alt="Molly">
				<div class="hover-box">Molly bestämmer allt.</div>
				<div class="tag">
					<h3>Molly</h3>
					<p>VD</p>
				</div>
				<span class="fa fa-angle-double-right fa-2x arrow" aria-hidden="true"></span>
			</article>
		</section>
	</main>

	<footer>
		<nav class="bottom-nav text-center">
			<ul>
				<a href="../index.html"><li>Hem</li></a>
				<a href="erbjuder.html"><li>Vi erbjuder</li></a>
				<a href="projekt.html"><li>Projekt</li></a>
				<a href="om-oss.html"><li>Om oss</li></a>
				<a href="kontakt.html"><li>Kontakt</li></a>
			</ul>
		</nav>
		<section class="contact-info text-center">
			<p>Vanilla Webdesign</p>
			<p>Skånegatan, Stockholm</p>
			<p>tel: 070 000 000</p>
			<p>info@vanillaweb.se</p>
		</section>
		<section class="contact-icones text-center">
			<span class="fa fa-facebook-official fa-2x" aria-hidden="true"></span>
			<span class="fa fa-instagram fa-2x" aria-hidden="true"></span>
			<span class="fa fa-twitter-square fa-2x" aria-hidden="true"></span>
		</section>
	</footer>



</body>
</html>