<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Tidigare Projekt</title>

	<!-- ICONS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">

</head>
<body>
	
	<header class="top-header">
		<a href="../index.html"><img src="../images/logo/vanilla-logo.png" class="logo"></a>
		<nav class="top-nav">
			<div class="ham-menu">Meny
			<span class="fa fa-caret-down fa-1x" aria-hidden="true"></span>
			</div>
			<ul class="top-nav-ul">
				<li><a href="../index.html">Hem</a></li>
				<li><a href="erbjuder.html">Vi erbjuder</a></li>
				<li><a href="projekt.html" class="active">Projekt</a></li>
				<li><a href="om-oss.html">Om oss</a></li>
				<li><a href="kontakt.html">Kontakt</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<header class="main-header">
			<h1 class="text-center">Tidigare projekt</h1> <!--synlig i mobil bara -->
		</header>
		<section class="box-wrapper">
			<article class="box person left project">
				<img src="../images/projekt/projekt_bar.jpg" class="project-img">
				<span class="fa fa-angle-double-down arrow-down" aria-hidden="true"></span>
				<span class="fa fa-angle-double-right fa-2x arrow-side" aria-hidden="true"></span>
				<p class="project-text">"Vi på Umbra är otroligt nöjda med denna responsiva sida"</p>
			</article>
			<article class="box person right project">
				<img src="../images/projekt/projekt_bike.jpg" class="project-img">
				<span class="fa fa-angle-double-down arrow-down" aria-hidden="true"></span>
				<span class="fa fa-angle-double-left fa-2x arrow-side" aria-hidden="true"></span>
				<p class="project-text">"våra kunder har visat stor tacksamhet för denna nya sida"</p>
			</article>
			<article class="box person left project">
				<img src="../images/projekt/projekt_blomster.jpg" class="project-img">
				<span class="fa fa-angle-double-down arrow-down" aria-hidden="true"></span>
				<span class="fa fa-angle-double-right fa-2x arrow-side" aria-hidden="true"></span>
				<p class="project-text">"denna sida hjälper oss att nå våra mål för året"</p>
			</article>
			<article class="box person right project">
				<img src="../images/projekt/projekt_frisor.jpg" class="project-img">
				<span class="fa fa-angle-double-down arrow-down" aria-hidden="true"></span>
				<span class="fa fa-angle-double-left fa-2x arrow-side" aria-hidden="true"></span>
				<p class="project-text">"vi vill tacka alla på Vanilla osm gjort denna grymma sida åt oss"</p>
			</article>
		</section>
	</main>

	<footer>
		<nav class="bottom-nav">
			<ul class="bottom-nav-ul">
				<li><a href="../index.html">Hem</a></li>
				<li><a href="vi-erbjuder.html">Vi erbjuder</a></li>
				<li><a href="projekt.html">Projekt</a></li>
				<li><a href="om-oss.html">Om oss</a></li>
				<li><a href="kontakt.html">Kontakt</a></li>
			</ul>
		</nav>
		<section class="contact-info text-center">
			<p>Vanilla Webdesign</p>
			<p>Skånegatan, Stockholm</p>
			<p>tel: 070 000 000</p>
			<p>info@vanillaweb.se</p>
		</section>
		<section class="contact-icones text-center">
			<span class="fa fa-facebook-official fa-2x" aria-hidden="true"></span>
			<span class="fa fa-instagram fa-2x" aria-hidden="true"></span>
			<span class="fa fa-twitter-square fa-2x" aria-hidden="true"></span>
		</section>
	</footer>

<script src="../js/main.js"></script>
</body>
</html>