<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Vanilla - Tidigare projekt</title>

	<!-- ICONS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">

</head>
<body>
	
	<header class="top-header">
	  <nav class="top-nav">
	    <div class="logo"><a href="../index.html"><img src="../images/logo/vanilla-logo.svg" class="logo" alt="Logga"></a></div>
	    <input type="checkbox" id="checkbox-toggle" class="checkbox-toggle">
	      <label for="checkbox-toggle" class="label-toggle">Meny<span class="fa fa-caret-down fa-1x" aria-hidden="true"></span></label>

	    <ul>
			<li><a href="../index.html">Hem</a></li>
			<li><a href="erbjuder.html">Vi erbjuder</a></li>
			<li><a href="projekt.html" class="active">Projekt</a></li>
			<li><a href="om-oss.html">Om oss</a></li>
			<li><a href="kontakt.html">Kontakt</a></li>
	    </ul>
	  </nav>
	</header>

	<main>
		<header class="main-header">
			<h1 class="text-center">Tidigare projekt</h1> <!--synlig i mobil bara -->
		</header>
		<section class="box-wrapper project-content">
			<article class="box left project">
				<img src="../images/projekt/projekt_bike@0.5x.jpg" srcset="../images/projekt/projekt_bike.jpg 600w" class="project-img" alt="Bike">
				<span class="fa fa-angle-double-down arrow-down" aria-hidden="true"></span>
				<span class="fa fa-angle-double-right fa-2x arrow-side" aria-hidden="true"></span>
				<p class="project-text">"Vi på BikeNow är otroligt nöjda med att nu sticka ut i från mängden av annars snarlika cykelsidor och kunna visa våra kunder en modern, respons och mycket användarvänlig sida. Detta tack vara det jobb och engagemang som Vanilla web design lagt ner på oss som företag och på denna webbsida."</p>
			</article>
			<article class="box right project">
				<img src="../images/projekt/projekt_bar@0.5x.jpg" srcset="../images/projekt/projekt_bar.jpg 600w" class="project-img" alt="Bar">
				<span class="fa fa-angle-double-down arrow-down" aria-hidden="true"></span>
				<span class="fa fa-angle-double-left fa-2x arrow-side" aria-hidden="true"></span>
				<p class="project-text">"Äntligen kan våra kunder på ett enkelt och modern sätt boka bord på vår restaurang. Nu hittar många fler kunder hit och bokar bord i förväg samtidigt som vi får mer tid till kunderna på plats då vi inte får ärenden per telefon särskilt ofta längre."</p>
			</article>
			<article class="box left project">
				<img src="../images/projekt/projekt_blomster@0.5.jpg" srcset="../images/projekt/projekt_blomster.jpg" class="project-img" alt="Blomster">
				<span class="fa fa-angle-double-down arrow-down" aria-hidden="true"></span>
				<span class="fa fa-angle-double-right fa-2x arrow-side" aria-hidden="true"></span>
				<p class="project-text">"Nu kan vi kommunicera med våra kunder på ett mycket bättre sätt en tidigare. Det känns så kul att genom en väldesignat webbsida kunna inspirera och förgylla våra kunders vardag. Vi tycker sidan är så fin och vi är otroligt glada över att den fungerar lika bra i telefonen som på en laptop."</p>
			</article>
			<article class="box right project">
				<img src="../images/projekt/projekt_frisor@0.5x.jpg" srcset="../images/projekt/projekt_frisor.jpg" class="project-img" alt="Frisör">
				<span class="fa fa-angle-double-down arrow-down" aria-hidden="true"></span>
				<span class="fa fa-angle-double-left fa-2x arrow-side" aria-hidden="true"></span>
				<p class="project-text">"För oss som som egenföretagare underlättar denna websida jättemycket. Nu har vi ett bra bokningssystem som är enkelt för båda oss och våra kunder att använda."</p>
			</article>
		</section>
	</main>

	<footer>
		<nav class="bottom-nav text-center">
			<ul>
			<li><a href="../index.html">Hem</a></li>
			<li><a href="erbjuder.html">Vi erbjuder</a></li>
			<li><a href="projekt.html" class="active">Projekt</a></li>
			<li><a href="om-oss.html">Om oss</a></li>
			<li><a href="kontakt.html">Kontakt</a></li>
			</ul>
		</nav>
		<section class="contact-info text-center">
			<p>Vanilla Web Design</p>
			<p>Skånegatan 90, 116 37 Stockholm</p>
			<p>tel: 070 000 000</p>
			<p>info@vanillaweb.se</p>
		</section>
		<section class="contact-icones text-center">
			<span class="fa fa-facebook-official fa-2x" aria-hidden="true"></span>
			<span class="fa fa-instagram fa-2x" aria-hidden="true"></span>
			<span class="fa fa-twitter-square fa-2x" aria-hidden="true"></span>
			<p>Följ oss på sociala medier!</p>
		</section>
	</footer>

</body>
</html>