<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Om oss</title>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">

	<!-- ICONS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	
	<header class="top-header">
		<div class="logo">
			<a href="../index.html"><img src="../images/vanilla-logo.png" class="logo"></a>
		</div>
		<nav class="top-nav">
			<div class="ham-menu">Meny
			<span class="fa fa-caret-down fa-1x" aria-hidden="true"></span>
			</div>
			<ul class="top-nav-ul">
				<li><a href="../index.html">Hem</a></li>
				<li><a href="vi-erbjuder.html">Vi erbjuder</a></li>
				<li><a href="projekt.html">Projekt</a></li>
				<li><a href="om-oss.html">Om oss</a></li>
				<li><a href="kontakt.html">Kontakt</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<header class="main-header">
			<h1 class="text-center">Om oss</h1>
		</header>
		<section class="box-wrapper">
			<article class="box person">
				<img src="../images/nina.jpg" alt="Nina">
				<div class="tag">
					<h3>Nina</h3>
					<p>Javascript</p>
				</div>
			</article>
			<article class="box person">
				<img src="../images/cilla.jpg" alt="Cilla">
				<div class="tag">
					<h3>Cilla</h3>
					<p>UX Javascript</p>
				</div>
			</article>
			<article class="box person">
				<img src="../images/camilla.jpg" alt="Camilla">
				<div class="tag">
					<h3>Camilla</h3>
					<p>Javascript</p>
				</div>
			</article>
			<article class="box person">
				<img src="../images/molly.jpg" alt="Molly">
				<div class="tag">
					<h3>Molly</h3>
					<p>VD</p>
				</div>
				<span class="fa fa-angle-double-right fa-2x arrow" aria-hidden="true"></span>
			</article>
		</section>
	</main>

	<footer>
		<nav class="bottom-nav">
			<ul class="bottom-nav-ul">
				<li><a href="../index.html">Hem</a></li>
				<li><a href="vi-erbjuder.html">Vi erbjuder</a></li>
				<li><a href="projekt.html">Projekt</a></li>
				<li><a href="om-oss.html">Om oss</a></li>
				<li><a href="kontakt.html">Kontakt</a></li>
			</ul>
		</nav>
		<section class="contact-info text-center">
			<p>Vanilla Webdesign</p>
			<p>Skånegatan, Stockholm</p>
			<p>tel: 070 000 000</p>
			<p>info@vanillaweb.se</p>
		</section>
		<section class="contact-icones text-center">
			<span class="fa fa-facebook-official fa-2x" aria-hidden="true"></span>
			<span class="fa fa-instagram fa-2x" aria-hidden="true"></span>
			<span class="fa fa-twitter-square fa-2x" aria-hidden="true"></span>
		</section>
	</footer>

<script src="../js/main.js"></script>
</body>
</html>